//variable de couleur
$primary: #A7C4BC;
$secondary: #8FBC8F;
$tertiary:#556B2F;
$black:  #292222;
$white: white;

//Polices
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";